# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.eggs/
*.egg-info/
dist/
build/

# pytest
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db



# Backup
*.bak
*.bak.*
